/*.watchLog__button__group{
  width: 80%;
  margin-left: 30%;
    display: block;
    
}*/

.watchLogHeading{

  margin-top: 70px;
}
.watchLog__button__group {

  
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-evenly;

}

.watchLog__button__group button{
  display: inline-block;
  padding: 8px 12px !important;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(10, 151, 10);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 background-color: #4CAF50;
}


.watchLog__button__group:after {
  content: "";
  clear: both;
  display: table;
}

.watchLog__button__group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.watchLog__button__group button:hover {
  background-color: #3e8e41;
}

#watchingLog{
position:fixed;
width: 100%;
height: 70vh;
left: 32%;
top: 15vh;
background-color: #F5EBC9 !important;
border: 3px solid black;
border-radius: 3px;
}


  .Progress__button-container{


  }

  input[type=text], select {
    width: 90%;
    
    padding: 12px 20px;
    margin: 8px auto;
    
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  @media only screen and (min-width: 300px) {

    #watchingLog{
      position:fixed;
      width: 85%;
      height: 80vh;
      left: 5%;
      top: 15vh;
      background-color: #F5EBC9 !important;
      border: 3px solid black;
      border-radius: 3px;
      }

   
      
  }

  @media only screen and (min-width: 350px) {

    #watchingLog{
      position:fixed;
      width: 85%;
      height: 70vh;
      left: 5%;
      top: 15vh;
      background-color: #F5EBC9 !important;
      border: 3px solid black;
      border-radius: 3px;
      }

  
  }

  @media only screen and (min-width: 400px) {

    #watchingLog{
      position:fixed;
      width: 80%;
      height: 70vh;
      left: 10%;
      top: 15vh;
      background-color: #F5EBC9 !important;
      border: 3px solid black;
      border-radius: 3px;
      }
  }

  

  @media only screen and (min-width: 700px) {

    #watchingLog{
      position:fixed;
      width: 90%;
      height: 70vh;
      left: 5%;
      top: 15vh;
      background-color: #F5EBC9 !important;
      border: 3px solid black;
      border-radius: 3px;
      }

  
  }


  @media only screen and (min-width: 1000px) {
  

#watchingLog{
  position: fixed;
  width: 50%;
  height: 70vh;
  left: 25%;

  top: 15vh;
  background-color: #F5EBC9 !important;
  border: 3px solid black;
  border-radius: 3px;
}




  input[type=text], select {
    width: 90%;
    
    padding: 12px 20px;
    margin: 8px auto;
    
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  }

  

