#watchingLog{
position:fixed;
width: 40%;
height: 70vh;
left: 32%;
top: 15vh;
background-color: white !important;
border: 3px solid black;
border-radius: 3px;
}

button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .watchLog__button__group{
      width: 95%;
    margin: 0 auto;
  }

  input[type=text], select {
    width: 90%;
    
    padding: 12px 20px;
    margin: 8px auto;
    
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }