.seasonButton {
    display: inline-block;
    padding: 8px 12px !important;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(10, 151, 10);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: #4CAF50;
}

@media only screen and (min-width: 300px) {
    .seasonButton {
        margin-left: 10%;
    }
}

@media only screen and (min-width: 350px) {
    .seasonButton {
        margin-left: 12.5%;
    }
}

@media only screen and (min-width: 400px) {
    .seasonButton {
        margin-left: 15%;
    }
}

@media only screen and (min-width: 700px) {
    .seasonButton {
        margin-left: 30%;
    }
}