.state__button {
  display: inline-block;
  padding: 8px 10px !important;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 127, 127);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.state__button:hover {
  background-color: #333
}

.state__button:active {
  background-color: #333;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}