


#show-details{
position:fixed;
width: 95%;
height: 90vh;
top: 5vh;
background-color: white !important;
border: 3px solid black;
border-radius: 3px;
}

.addShow__button__group
{
    margin-left: 275px;
    margin-top:20px;
}

.cancelShowButton {
    margin-right: 60px;
    margin-left: 25px;
}

h2{
    text-align: center;
}

.addShow__button__group {
     margin-left: 200px; 
 
    margin-top: 20px;
    width: 70%;
}

@media only screen and (min-width: 300px) {
    .addShow__button__group {
        margin-left: 60px; 
    
       margin-top: 20px;
       width: 70%;
    }
}

@media only screen and (min-width: 400px) {

    
.addShow__button__group {
    margin-left: 60px; 

   margin-top: 20px;
   width: 70%;
}

    .cancelShowButton {
        margin-right: 20px;
        margin-left: 40px;
    }
}

@media only screen and (min-width: 500px) {
    #show-details{
        position:fixed;
        width: 55%;
        height: 90vh;
        left: 22.5%;
        top: 5vh;
        background-color: white !important;
        border: 3px solid black;
        border-radius: 3px;
        }


        .addShow__button__group
        {
            margin-left: 210px;
            margin-top:20px;
        }

.cancelShowButton{

    margin-right:20px ;
}


}

