body {
  background-color: darkgrey;
 
}


#showContainer{
  height:100%;
  
  }

  
  #show {
  
    padding: 30px 30px;
    background-color: #bbb;
    border-bottom: 1px solid black;
  }
  
  #shows{
      position: absolute;
      float:left;
      width: 40%;
      background-color:#ddd;
      height: 100%;
      padding-top:70px;
     }



    #icon {
    
      font-size: 50px;
      position: relative;
      top: 4px;
    }

    .fa-2x {
      font-size: 2em;
      position: relative;
      top: 5px;
      right: 3px;
  }
    
ul{
  list-style: none;
  padding:0;
}

   
     #actualShow{
        
      float:right;
      width: 60%;
      padding-top: 100px;
      }
  
      .initialInfo
      {
        float: right;
        width: 50%;
        padding-top: 220px;
        margin-right:20px;
      }
      .initialInfoIcon
      {
        margin-left: 200px;
      }

      #details,#watching{
        display: block;
        padding: 45px 15px;
        background-color: #aaa;
        
      }

      #title{
        display:inline;
        text-align:justify;
      }

.titleIcon {
  display: inline-block;

  height: 80px;
  padding: 5px;
  margin-left:240px;
  vertical-align: top;
  margin-top: 20px;
 
}

.titleButton {
  display: inline-block;
 
  height: 80px;
  padding: 5px;
  margin-left:20px;
  vertical-align: top;
 margin-top:30px;
}

.headerAndButton{
  display: block;
}
.link{
  float: right;
}

.showStates{
  display:block;
/*  text-align: center;*/
  margin-top: 5px;
}

.showlabel{
/*  margin-left: 115px;*/

}
    
.showdetails{
 float: right;
  
}

input[type=text], select {
  width: 100%;
  
  padding: 12px 20px;
  margin: 8px 0;
  
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.ShowListNav{
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
          background-color: #bbb;
          overflow: hidden;
          position: fixed;
          top: 0;
          width: 100%;
      }

      #edit-details{
        display:block;
          margin-left:auto;
          margin-right:auto;
          background-color: #ddd
        }

        .shows{

          display:none
        }

        li:hover {
          cursor: pointer;
      }

        @media only screen and (min-width: 500px) {
         .showlist{

  display:inline-block
}

.backButton{
  display:none
}
        }
