body {
  background-color: darkgrey;
  margin:0;
}


.state__button {
  display: inline-block;
  padding: 8px 12px !important;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(10, 151, 10);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.state__button:hover {background-color: #333}

.state__button:active {
  background-color: #333;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.backButton {
  display: inline-block;
  padding: 4px 6px !important;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 127, 127);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.backButton:hover {background-color: #333}

.backButton:active {
  background-color: #333;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#showContainer{
  height:100%;
  
  }
a{
  color:#999;
}
  
.category{
  margin-left:63px;
}

.addShowPath{
  margin-left:67px;
  color:black;
}

.filmicon{
  margin-left:39px;
}
  #show {
  
    padding: 30px 30px;
    background-color: rgb(129, 127, 127);
    border-bottom: 1px solid black;
  }
  
  #shows{
      position: absolute;
      float:left;
      width: 100%;
      background-color:#F5EBC9;
      height: 100%;
      padding-top:70px;
     }



    #icon {
    
      font-size: 50px;
      position: relative;
      top: 4px;
    }

    .fa-2x {
      font-size: 2em;
      position: relative;
      top: 5px;
      right: 3px;
  }
    
ul{
  list-style: none;
  padding:0;
}

   .seasons{
     display:block;
     margin-left: 18px;
   }
     #actualShow{
        
      float:right;
      width: 100%;
      padding-top: 80px;
      background-color:#F5EBC9;
      }
  
      .initialInfo
      {
        width: 50%;
        padding-top: 70px;
        margin-right: auto;
        margin-left: auto;
      }
    

      #details,#watching{
        display: block;
        padding: 40px 15px;
        background-color: #F5EBC9;
        
      }

      #title{
        display:inline;
        text-align:justify;
      }

.titleIcon {
  display: inline-block;
    height: 80px;
    padding: 5px;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 50px;
}

.titleButton {
  display: inline-block;
 
  height: 80px;
  padding: 5px;
  margin-left:20px;
  vertical-align: top;
 margin-top:30px;
}

.headerAndButton{
  display: block;
  font-weight: bold;
}
.link{
  float: right;
}

.showStates{
 /* display:block;*/
  text-align: center;
  margin-top: 5px;
}

.showlabel{
/*  margin-left: 115px;*/
font-weight: bold;
}
    
.showdetails{
/* float: right;*/
font-style: italic;
}
      #edit-details{
        display:block;
          margin-left:auto;
          margin-right:auto;
          background-color: #ddd
        }

        .shows{

          display:none
        }

        li:hover {
          cursor: pointer;
      }

      
      .showlist{

        display:none
      }


        @media only screen and (min-width: 500px) {
     
/*
.backButton{
  display:none
}*/



  
#shows{
  position: absolute;
  float:left;
  width: 100%;
  background-color:#F5EBC9;
  height: 100%;
  padding-top:70px;
  
 }
 #actualShow{
        
  float:right;
  width: 100%;
  padding-top: 80px;
  }

  .titleIcon {
    display: inline-block;
      height: 80px;
      padding: 5px;
      margin-left: 440px;
      vertical-align: top;
      margin-top: 20px;
      margin-bottom: 50px;
  }
 
  .initialInfoIcon
  {
    margin-left: 200px;
  }
}